$col3d: #3d3d3d;
$colf2: #f2f2f2;
$col8c: #8c8c8c;
$colef: #efefef;
$colec: #ececec;
$cole4: #e4e4e4;
$cole2: #e2e2e2;
$cole0: #e0e0e0;
$colea: #eaeaea;
$coldf: #dfdfdf;
$col43: #434343;
$col42: #424242;
$col57: #575757;
$col81: #818181;
$col98: #989898;
$col4f: #4f4f4f;
$colc42d27: #c42d27;
$col7c: #7c7c7c;
$colRed: #dc322c;
$colcb2e29: #cb2e29;
$colcf2f2a: #cf2f2a;
$colHover: #d6312b;
$cold9312b: #d9312b;
$colbf2b27: #bf2b27;

$colButton: #cc2e29;