@import "reset";
@import "sprite";
@import "variables";
//.sprite{
//  display: inline-block;
//}

* {
  box-sizing: border-box;
  //transition: background-color 0.25s, color 0.25s;
}

a {
  text-decoration: none;
  transition: color .25s;
  display: inline-block;
  &:hover {
    color: $colHover;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

//$font16: 1.6rem;
html {
  height: 100%;
  font-size: 10px;
}

body {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  min-width: 100%;
  width: 100%;
}

.clearfix:after,
.clearfix:before {
  display: table;
  content: ' ';
}

.clearfix:after {
  clear: both;
}

.clearBoth {
  clear: both;
}

.siteWidth {
  width: 1288px;
  margin: 0 auto;
}

.withLeftAndRightMenu {
  .mainCD {
    .mainWrapper {
      width: 742px;
    }
  }
}

.with {
  .mainCD {
    .mainWrapper {
      width: 100%;
    }
  }
}

.button {
  background: $colButton;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  //background-image: linear-gradient(bottom, rgba(0,0,0,.18) -47.92%, rgba(0, 0, 0, 0) 102.08%);
  transition: background .25s;
  width: 135px;
  height: 35px;
  line-height: 35px;
  &:hover {
    background: lighten($colButton, 5%);
    color: #fff;
  }
}

.addToCart {
  position: relative;

  padding-left: 40px;
  padding-right: 0;
  font-size: 1.4rem;
  span {
    width: 34px;
    height: 35px;
    position: absolute;
    display: block;
    font-size: 0;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba($col42, 1);
    transition: background .3s;
    .sprite {
      transition: transform .3s;
      display: inline-block;
      vertical-align: middle;
      transform: scale(.7);
    }
  }
  &:hover {
    span {
      background: rgba($col42, 0);
      .sprite {
        transform: scale(1);
      }
    }
  }
}

.buttonSubscription {
  width: 165px;
  text-align: center;
  display: block;

}

.buttonMini {
  text-align: center;

}

.callBackProduct {
  width: 166px;
  height: 46px;
  padding-left: 65px;
  position: relative;
  font-size: 14px;
  //display: table-cell;
  padding-top: 8px;
  display: block;
  .sprite {
    position: absolute;
    top: 5px;
    left: 19px;
  }

}

.viewAllButtonEmpty {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: $col42;
  display: block;
  text-align: center;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  position: relative;
  &:hover {
    color: $colcb2e29;
    text-decoration: underline;
  }
  .sprite {
    position: absolute;
    top: 5px;
    right: 0;
  }
}

.left {
  float: left;
  display: table;
}

.right {
  float: right;
  display: table;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  border: solid 1px #969696;

}

.inputSearch {
  width: 380px;
  height: 43px;
  line-height: 43px;
  border-right: none;
  color: #969696;
  font-size: 1.4rem;
  //text-transform: uppercase;
  padding-left: 12px;
}

.inputSubscription {
  display: block;
  border: solid 1px $cole0;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  color: $col4f;
  width: 461px;
  font-family: 'Open Sans', sans-serif;

}

.inputCall {
  border-radius: 3px;
  border-color: #969696;
  margin-top: 10px;
  width: 145px;
  height: 35px;
  line-height: 35px;
  font-size: 1.3rem;
  color: #b0b0b0;
  padding-left: 6px;
}

.slider {
  position: relative;
  .wrapper {
    //.img{
    //  width: 100%;
    //}
  }
  .navigation {
    position: absolute;
    width: 31px;
    height: 31px;
    line-height: 25px;
    top: 50%;
    margin-top: -15px;
    display: block;
    text-align: center;
    background: transparent;
    color: #d4d4d4;
    font-size: 20px;
    vertical-align: middle;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
  }
  .previous {
    left: 0;
  }
  .next {
    right: 0;
  }
  .pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    text-align: center;
    font-size: 0;
    .item {
      //float: left;
      display: inline-block;
      padding-right: 5px;

      &:last-of-type {
        padding-right: 0;
      }
      a {
        display: inline-block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 1px solid #e0e0e0;
        transition: background .25s;
        background-color: #ddd;

        &.active {
          background: #f11136;
          border: 1px solid #e0e0e0;
        }

      }
    }
  }
}

.verticalLine {
  width: 1px;
  background: #f2f2f2;
}

/**************/
/*HEADER*/
/**************/
header.headerCD {
  font-size: 1.4rem;
  color: $col3d;
  a {
    font-size: 1.4rem;
    color: $col3d;
    &:hover {
      color: $colHover;
      text-decoration: underline;
    }

  }
  .top {
    height: 50px;
    line-height: 50px;
    .siteWidth {

      //float: left;
      nav {
        float: left;
        ul {
          display: block;
          li {
            float: left;
            margin: 0 10px;
            display: block;

          }
        }
      }

      .contacts {
        float: right;
        a {
          position: relative;
          padding-left: 5px + 18;
          margin-left: 12px;
        }
        //&.callBack {
        //  width: 191px;
        //  height: 62px;
        //  border-radius: 7px;
        //  border-top-right-radius: 0;
        //  border-top-left-radius: 0;
        //  display: block;
        //  float: right;
        //}
        .sprite {
          position: absolute;
          left: 0;
          bottom: 16px;

        }
        .right {
          a {
            &.callBack {
              width: 190px;
              height: 40px;
              border-radius: 7px;
              border-top-right-radius: 0;
              border-top-left-radius: 0;
              display: block;
              color: #FFFFFF;
              float: right;
              line-height: 41px;
              padding-left: 41px;
              text-decoration: none;

              .sprite {
                left: 9px;
                top: 8px;
              }
            }
          }

        }
      }
    }
  }
  .bottom {
    border-top: $colf2 1px solid;
    border-bottom: $colf2 1px solid;
    .siteWidth {
      > div {

        float: left;
        //display: table-cell;
        //vertical-align: middle;
        padding: 0 12px;
        > .wrapper {
          height: 102px;
          display: table-cell;
          vertical-align: middle;
        }
      }
      .logo {
        //display: table-cell;
        padding-left: 8px;
        width: 286px;

        a {
          //display: inline-block;
        }

      }
      .searchBlock {
        font-size: 0;
        //padding-left: 30px;
        form {
          //width: 502px;
          //display: inline-block;
          .inputSearch {
            display: block;
            float: left;
            //width: calc(100% - 756px);

          }
          .button {
            width: 120px;
            height: 43px;
            line-height: 43px;
            padding-left: 40px;
            position: relative;
            font-size: 1.8rem;
            display: block;
            float: left;

            .sprite {
              position: absolute;
              top: 11px;
              left: 13px;
            }
          }
        }
      }
      //.verticalLine{
      //  margin: 0 15px;
      //  width: 1px;
      //  height: 100%;
      //}
      .cartBlock {
        width: 159px;
        .sprite {
          float: left;
          display: table;
        }
        .bold {
          font-weight: bold;
        }
        .val {
          color: $colRed;
        }

      }
      .cartBlock, .authorization {
        border-left: 1px solid $colf2;
        .title {
          padding-top: 3px;
          padding-left: 11px;
          float: right;
          display: table;
        }

      }
      .authorization {
        width: 311px;
        .title {
          a {
            border-bottom: 1px dotted $col3d;
            font-weight: bold;
            &:hover {
              border-bottom: 1px solid #d6312b;
            }
          }
        }
      }
    }
  }
}

/**************/
/*Навигационная строка*/
/**************/
.navigationLineCD {
  margin-top: 14px;
  .breadcrumbs {
    color: $col8c;
    font-size: 1.4rem;

    li {
      margin-right: 4px;
      float: left;
      line-height: 28px;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        color: $col8c;
        font-size: 1.4rem;
        display: inline-block;

      }
    }
  }
}

/*список товаров*/

/**************/
/*Левое меню*/
/**************/
aside.leftMenuCD {
  margin-top: 20px;
  width: 244px + 10px;
  padding-right: 10px;
  float: left;
  & > div {
    margin-top: 27px;
    &:first-of-type {
      margin-top: 0;
    }

  }

}

.catalogMenu {
  h3 {
    height: 53px;
    line-height: 53px;
    display: block;
    background: $colButton;
    position: relative;
    padding-left: 44px;
    font-weight: bold;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #FFFFFF;
    .sprite {
      position: absolute;
      top: 16px;
      left: 10px;
    }
  }
  ul {
    li {
      border: solid 1px $colef;
      border-top: none;
      a {
        height: 34px;
        line-height: 34px;
        position: relative;
        display: block;
        padding-left: 14px;
        padding-right: 25px;
        font-size: 16px;
        color: $col43;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 7px;
          background-color: transparent;
          transition: background-color .3s;

        }
        &:hover {
          color: $colHover;
          &:before {
            background-color: #c12b27;
          }
        }
        &:after {
          content: '>';
          position: absolute;
          top: 0px;
          right: 12px;
        }
      }
      &.active {
        a {
          &:before {
            background-color: #c12b27;
          }
        }
      }

    }
  }
}

.options {

  h3 {
    color: $colcb2e29;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h4 {
    color: $col4f;
    font-weight: 500;
    font-size: 19px;
  }

  > div {
    border-bottom: solid 1px $colef;
    padding-bottom: 28px;

  }
  .price {
    margin-top: 29px;

  }
  .option {
    margin-top: 21px;
    border-bottom: solid 1px $colef;
    .filterValueList {
      margin-top: 15px;
      li {
        height: 21px;
        padding-left: 10px;
        margin-top: 8px;
        &:first-of-type {
          margin-top: 0;
        }
        a {
          display: block;
          line-height: 21px;
          color: $col4f;
          font-size: 1.6rem;
          position: relative;
          padding-left: 28px;
          .square {
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            font-size: 0;
            line-height: 21px;
            height: 21px;
            width: 21px;
            text-align: center;
            border-radius: 3px;
            border: 1px solid #c5c5c5;
            .sprite {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
    }
    .showAndHideParameter {
      margin-top: 15px;

      a {
        display: block;
        color: $col42;
        font-size: 1.6rem;
        line-height: 1.6rem;
      }
      .sprite {
        display: inline-block;
        margin-left: 5px;
      }

    }
  }

}

.social {
  margin-top: 30px;
  .item {
    margin-top: 20px;
    &:first-of-type {
      margin-top: 0;
    }
  }
}

/**************/
/*Основной контент*/
/**************/
.mainWrapper {
  float: left;
  //width: 742px;
  padding-top: 15px;
  .contentCD {
    .offerListBlock {
      border-top: solid 1px $coldf;
      border-bottom: solid 1px $coldf;
      width: 100%;
      //border-right: solid 1px $coldf;
      > div {
        float: left;
      }
      .offerView1 {
        display: block;
      }

      .od {

        background: $coldf;
        width: 1px;
        height: 383px;
        margin-top: 8px;
        &:nth-of-type(3n) {
          height: 1px;
          width: 100%;
        }

      }
    }
  }
}

.pageTitle {
  h1 {
    font-size: 4rem;
    color: $col43;

  }

}

.offerView1 {
  width: 245px;
  height: 400px;
  padding: 10px;
  .content {
    text-align: center;
    .img {
      p {
        height: 232px - 15;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        width: 243px - 15 * 2;
        img {
          max-width: 234px;
          max-height: 203px;
          display: inline-block;
        }
      }
    }
    .code {
      color: $col7c;
      font-size: 1.2rem;
      margin-top: 6px;
    }
    .title {
      margin-top: 9px;
      display: block;
      max-height: 40px;
      overflow: hidden;
      a {
        color: $col4f;
        font-size: 1.6rem;
        line-height: 1.3;
        &:hover {
          color: $colHover;
        }
      }

    }
    .priceList {
      .price {
        margin-top: 9px;
        .priceValue {
          font-size: 2.4rem;
          color: $cold9312b;
          font-weight: bold;
          span {
            font-size: 1.6rem;
            font-weight: 400
          }

        }
      }
      .button {
        margin-top: 10px;

      }

    }
  }
}

.offerView1Mini {
  width: 250px;
  height: 450px;
  padding: 27px;
  .content {
    .img {
      p {
        height: (45px - 27) * 2 + 189;
        width: 243px;
        img {
          max-width: 197px;
          max-height: 179px;
        }
      }
    }
    .code {
      margin-top: 25px;
    }
    .title {
      margin-top: 10px;
    }
    .priceList {
      .price {
        .priceValue {
          color: $col4f;
        }
      }
      margin-top: 13px;
    }
  }
}

.filter {
  margin-top: 10px;
  //height: 56px;
  .left {
    line-height: 56px;
    p {
      display: inline-block;
      font-weight: bold;
      font-size: 1.3rem;
      color: $col43;
      text-transform: uppercase;
    }
    select {
      margin-left: 27px;
      border: solid 1px $colec;
      font-size: 1.2rem;
      color: $col98;
      width: 173px;
      height: 21px;
      padding-left: 6px;
    }
  }
  .right {
    line-height: 56px;
    font-size: 1.3rem;
    color: $col8c;
  }

}

/*Список страниц*/
.ajaxPaginationList {
  margin-top: 35px;
  font-size: 2.4rem;
  .gridPagination {
    .listPagination {
      ul {
        display: table;
        margin: 0 auto;
        li {
          display: table-cell;
          //float: left;
          color: $colcb2e29;
          position: relative;
          .current, .page-link {
            height: 37px;
            width: 37px;
            line-height: 37px;
            display: block;
            background: rgba($colButton, 0);
            text-align: center;
            //margin-right:16px;

          }
          .active {
            color: $colcb2e29;
          }
          .page-link {
            color: $col57;
            cursor: pointer;
            &:hover {
              background: rgba($colButton, 1);
              color: #ffffff;
            }
          }
          &:after {
            content: '';
            display: block;
            width: 1px;
            height: 33px;
            top: 4px;
            right: 0px;
            position: absolute;
            background: $cole4;
          }
          &:first-of-type {
            &:after {
              //display: none;
            }
          }
          .page-link {
            //background-color: transparent;
            color: $col57;
          }
        }
      }
    }
  }
}

/**************/
/*Правое меню*/
/**************/
aside.rightMenuCD {
  float: right;
  width: 292px;
  padding-top: 107px;
  padding-left: 9px;
  .hotGoodsBottom {
    margin-top: 10px;
  }
  .news {
    margin-top: 23px;
  }
}

.news {
  .title {
    h3 {
      display: table;
      float: left;
      padding-left: 30px;
      position: relative;
      font-size: 2.4rem;
      color: $col43;
      .sprite {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

  }
  .viewAll {
    float: right;
    display: table;
    line-height: 2.4rem;
  }
  .lineGray {
    background-color: $cole0;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .wrapper {

  }
}

.newsItem {
  .content {
    .img {
      p {
        display: table-cell;
        width: 100%;
        height: 200px;
        img {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    .titleItem {
      padding-left: 6px;
      margin-top: 11px;
      a {
        color: $colHover;
        text-decoration: underline;
        font-size: 1.8rem;
        line-height: 1.2;
        margin-top: 10px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .time {
      display: block;
      position: relative;
      line-height: 23px;
      padding-left: 30px + 6;
      font-size: 1.4rem;
      margin-top: 12px;
      color: $col4f;
      .sprite {
        position: absolute;
        top: 0;
        left: 6px;
      }
    }
  }
}

/**************/
/*FOOTER*/
/**************/
footer.footerCD {
  color: #FFFFFF;
  font-size: 1.2rem;
  margin-top: 43px;
  border-top: solid 1px $col81;
  a {
    color: #FFFFFF;
    font-size: 1.2rem;
    &:hover {
      color: $colHover;
      text-decoration: underline;
    }
  }
  .top {
    background: #424242;
    border-top: 1px solid #818181;
    height: 280px;
    .siteWidth {
      > div {
        float: left;
      }
      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
      }
      .logoBlock {
        //margin-right:180px;
        .logoWrap {
          height: 280px;
          display: table-cell;
          padding-left: 8px;
          vertical-align: middle;
          width: 448px;

          a {
            display: inline-block;
          }
        }
      }
      .info, .prof, .contacts {
        margin-top: 42px;
        > ul, .address {
          margin-top: 14px;
          li {
            margin-top: 9px;
            &:first-of-type {
              margin-top: 0;
            }
          }
        }
      }
      .info {
        width: 264px;
      }
      .prof {
        width: 341px;
      }
      .contacts {
        width: 234px;
        .address {
          line-height: 1.2;
        }
        .tel {
          margin-top: 13px;
          font-size: 2.2rem;
          a {
            font-size: 2.2rem;
            margin-top: 4px;
            display: inline-block;
          }
        }
      }

    }

  }
  .bottom {
    height: 39px;
    line-height: 39px;
    background: #d83830;
    .siteWidth {
      position: relative;
      .copyright {
        text-align: left;

        .astridShop {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 348px;
          line-height: 1.3;
          margin-top: 4px;
          .wrapper {
            p {
              float: left;
              display: table;
              width: 167px;
              a {
                border-bottom: solid 1px #FFFFFF;
                &:hover {
                  color: #ffffff;
                  text-decoration: none;
                  border-bottom: none;
                }
              }
            }
            .logoAstridShop {
              float: right;

              line-height: 39px;
              a {
                font-size: 0;
                display: inline-block;
              }
            }

          }
        }
      }

    }

  }

}

/*Главня страница*/
.listProducts {
  //.wrapper {
  border-top: solid 1px $cole0;
  border-bottom: solid 1px $cole0;
  margin-top: 11px;
  padding-left: 4px;
  > div {
    float: left;
  }
  .od {
    background: $cole0;
    width: 1px;
    height: 450px - 13 * 2;
    margin-top: 13px;
  }
}

.mainWrapper {
  .contentCD {
    > div {
      margin-top: 30px;
      &:first-of-type {
        margin-top: 0;
      }
    }
    .menuSlider {
      .left {
        width: 301px;
        padding-right: 20px;
        > div {
          margin-top: 10px;
          &:first-child {
            margin-top: 0;
          }
        }

      }
    }

    .viewedProductsBlock {
      .left {
        padding-right: 18px;

      }
      .nameBlock {
        .sprite {
          position: absolute;
          top: 6px;
          left: 0;
        }
      }
      .wrapper {
        .subscription {
          float: right;
          width: 513px;
          height: 450px;
          //display: table-cell;

          .form {
            border-radius: 15px / 3px;
            border: 1px solid $cole2;
            //vertical-align: middle;
            margin-top: 67px;
            width: 508px;
            height: 319px;
            display: block;

            .title {
              border-radius: 15px / 3px;

              border-bottom-right-radius: 0;
              border-bottom-left-radius: 0;
              background: $col43;
              height: 63px;
              padding-top: 15px;
              padding-left: 70px;
              position: relative;
              font-size: 1.8rem;
              font-weight: bold;
              color: #ffffff;
              text-transform: uppercase;
              .sprite {
                position: absolute;
                top: 18px;
                left: 18px;
              }
            }

            .input {
              padding-left: 23px;
              font-weight: bold;
              font-size: 1.8rem;
              color: $col42;
              margin-top: 17px;
              &:first-of-type {
                margin-top: 22px;
              }
              .inputSubscription {
                margin-top: 9px;
              }
            }
            .button {
              margin-top: 23px;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
          }

        }
      }

    }
    .newsBlock {
      .wrapper {
        padding-top: 27px;
        margin-top: 11px;
        border-top: 1px solid $cole0;
        > div {
          float: left;
        }
      }
    }
  }
}

.newsItemMain {
  width: 644px;
  .content {
    .left {
      .img {
        display: table;
        width: 332px;
        p {
          width: 315px;
          height: 223px;
          display: table-cell;
          img {
            display: inline-block;
            vertical-align: middle;
            border: 1px solid $cole0;
          }
        }
      }
    }
    .right {
      width: 312px;
      padding-right: 5px;
      font-size: 1.4rem;

      .title {
        margin-top: 20px;
        a {
          color: $colbf2b27;
          font-size: 1.8rem;
          line-height: 1.2;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .description {
        margin-top: 15px;
        line-height: 1;
        color: $col4f;
        .details {
          color: $colcf2f2a;
          font-size: 1.4rem;
          font-style: italic;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .date {
        display: block;
        height: 22px;
        line-height: 22px;
        padding-left: 30px;
        position: relative;
        margin-top: 20px;
        .sprite {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

.carBrand {
  h3 {
    height: 57px;
    line-height: 57px;
    display: block;
    background: $col42;
    position: relative;
    padding-left: 68px;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 9px / 2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    .sprite {
      position: absolute;
      top: 16px;
      left: 10px;
    }
  }
  .wrapper {
    padding-top: 25px;
    > div {
      float: left;
    }
    .item {
      p {

        a {
          width: 65px;
          height: 65px;
          display: table-cell;
          color: $col42;
          font-size: 1.4rem;
          text-align: center;
          img {
            display: inline-block;
            vertical-align: middle;
          }
          i {
            display: inline-block;
            //margin-top: 12px;
          }
        }
      }
    }
    .od {
      height: 1px;
      width: 43px;
      &:nth-child(6n) {
        height: 44px;
        width: 100%;
      }
    }
  }
  .viewAllButton {
    margin-top: 27px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
}

.viewAllButton {
  position: relative;
  padding-left: 25px;
  width: 129px;
  height: 27px;
  font-size: 1.2rem;
  .sprite {
    position: absolute;
    top: 6px;
    left: 8px;
  }
}

.nameBlock {
  line-height: 25px;
  font-size: 2.4rem;
  color: $col43;

}

.nameBlockIcon {
  padding-left: 29px;
  position: relative;
  .sprite {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/*страница категории*/
aside.leftMenuCD {
  .carBrand {
    h3 {
      font-size: 1.5rem;
    }
    .wrapper {
      .item {

      }
      .od {
        height: 1px;
        width: 24px;
        &:nth-child(6n) {
          height: 24px;
          width: 100%;
        }
      }
    }

  }
}

.mainWrapper {
  .contentCD {
    .brandDirectory {
      & > div {
        float: left;
      }
      .od {
        height: 1px;
        width: 16px;
        &:nth-of-type(8n) {
          height: 16px;
          width: 100%;
        }
      }
    }
  }
}

.brandDirectoryItem {
  max-height: 173px;
  width: 173px;
  overflow: hidden;
  transition: border .3s;
  //position: relative;
  //z-index: -1;
  .content {
    border: solid 1px $colef;
    padding: 6px;
    min-height: 173px;
    position: relative;
    z-index: 1;
    background: #ffffff;
    a {
      color: $col42;
      display: block;
      &:hover {
        color: $colHover;
      }
    }
    .img {
      p {
        display: table-cell;
        width: 172px - 6 * 2;
        height: 137px - 6 * 2;
        vertical-align: middle;
        text-align: center;
        img {
          display: inline-block;
        }

      }
    }
    .title {
      margin-top: 5px;
      a {
        font-size: 2.1rem;
        text-align: center;
      }
    }
    .seriesList {
      ul {
        li {

          a {
            display: block;
            line-height: 0px;
            font-size: 0rem;
            text-transform: uppercase;
            transition: line-height .3s .3s, font-size .3s .3s;
            position: relative;
            padding-right: 18px;
          }
        }
      }
    }
  }
  &:hover {
    overflow: visible;

    .content {
      border: solid 1px $colc42d27;
      position: relative;
      z-index: 5;
      .seriesList {
        ul {
          li {
            border-bottom: solid 1px $colef;
            a {
              line-height: 35px;
              font-size: 1.3rem;
              &:after {
                content: '>';
                position: absolute;
                top: 0px;
                right: 7px;
              }

              //&.viewAll{
              //  color: red;
              //}

            }
            &:last-of-type {
              border-bottom: none;
              a {

                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
  }
}

/*страница продукта*/
.mainWrapper {
  .contentCD {
    .product {
      > .left {
        width: 357px;
        padding-right: 17px;
        .sliderProduct {
          a {
            display: inline-block;
            border: solid 1px $colec;
            transition: border-color .3s;
            &:hover {
              border-color: $cold9312b;
            }
          }

          .productImage {
            p {
              display: table-cell;
              text-align: center;
              width: 340px;
              height: 340px;
              .dataImg {
                display: inline-block;
                vertical-align: middle;
                img {

                }
              }
            }
          }
          .wrapperSmall {
            margin-top: 5px;
            .item {
              float: left;
              width: 167px;
              height: 167px;
              margin-left: 5px;
              &:first-of-type {
                margin-left: 0;
              }
            }

          }
        }
        .callBackProduct {
          margin-top: 27px;
          margin-left: auto;
          margin-right: auto;
          //clear: right;
          //display: block;
        }
      }
      > .right {
        width: 931px;
        //padding-right: 19px;
        .top {
          > div {
            float: left;
          }
          .purchase {
            width: 660px;
            > div {
              float: left;
            }
            > .left {
              width: 434px;
              .status {
                background: $colea;
                display: table;
                font-size: 1.2rem;
                color: $col7c;
                //height: 28px;
                line-height: 28px;
                padding-left: 10px;
                padding-right: 10px;
              }
              .buy {
                margin-top: 75px;
                width: 433px;
                .item {
                  //width: 300px;
                  text-align: left;
                  font-size: 0;
                  .button {
                    display: inline-block;
                    vertical-align: top;
                  }
                  .itemLeft {
                    width: 163px;
                    padding-right: 15px;
                  }

                }
                .addToCartBlock {
                  line-height: 35px;
                  height: 35px;
                  .price {
                    font-size: 4.8rem;
                    font-weight: bold;
                    padding-right: 15px;
                    color: #424242;
                    display: inline-block;
                    i {
                      font-size: 1.7rem;
                      font-weight: normal;
                    }
                  }
                  .button {
                    width: 130px;
                  }
                }
                .callBlock {
                  height: 57px;
                  margin-top: 35px;
                  .itemTel {
                    font-size: 1.4rem;
                    color: #7c7c7c;
                    display: inline-block;

                  }
                  .button {
                    vertical-align: bottom;
                  }
                }
              }
              .share {
                margin-top: 43px;
                h3 {
                  font-size: 1.2rem;
                  color: #7c7c7c;
                  display: block;
                  width: 100%;
                }
                .left {

                }
                .right {
                  width: 153px;
                  padding-left: 30px;
                  position: relative;
                  font-size: 1.2rem;
                  color: #d9312b;
                  .sprite {
                    position: absolute;
                    top: 3px;
                    left: 0;
                  }
                }
              }
            }
            > .verticalLine {
              height: 337px;
              margin-top: 0px;
            }
            .advantage {
              width: 225px;
              padding: 24px 17px;
              padding-bottom: 0;
              .item {
                height: 75px;
                margin-top: 7px;
                &:first-of-type {
                  margin-top: 0;
                }
                position: relative;
                padding-left: 47px;

                font-size: 1.2rem;
                h4 {
                  font-weight: bold;
                }
                .sprite, .sprite-text {
                  position: absolute;
                  left: 0px;
                  top: 5px;

                }
                .sprite-text {
                  font-size: 2.5rem;
                  color: #d7312b;
                  display: block;
                  font-weight: 700;
                  margin-left: -5px;
                  vertical-align: bottom;
                  span {
                    font-size: 1.5rem;
                    font-weight: normal;
                    vertical-align: middle;
                  }
                }
              }
            }
          }
          > .verticalLine {
            height: 380px;
            margin-top: 18px;
          }
          .prompt {
            width: 250px;
            .delivery {
              padding: 3px 15px;
              padding-bottom: 0;
              h3 {
                font-size: 1.4rem;
                color: #3d3d3d;
                display: block;
                margin-bottom: 6px;
              }
              .banerDelivery {
                height: 80px;
                width: 250px;
                border-top: 1px solid #f2f2f2;
                border-bottom: 1px solid #f2f2f2;
                padding-left: 84px;
                position: relative;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                font-size: 1.4rem;
                color: #4f4f4f;
                .red {
                  font-size: 1.8rem;
                  color: #cf2f2a;
                  font-weight: bold;
                }
                .sprite {
                  position: absolute;
                  top: 18px;
                  left: 10px;
                }
              }
              .item {
                margin-top: 18px;
                height: 90px - 18;
                font-size: 1.4rem;
                color: #4f4f4f;
                h4 {

                  display: inline-block;
                  border-bottom: dotted 1px #4f4f4f;

                }
                ul {
                  margin-top: 9px;
                  li {

                  }
                }
              }
            }
          }
        }
        .bottom {
          .tabBlock {
            .tabHeader {
              .tab {
                height: 36px;
                line-height: 36px;
                border: 1px solid #d7d7d7;
                border-bottom: none;
                display: table;
                padding: 0 15px;
                margin-right: 10px;
                float: left;
                cursor: pointer;
                transition: background .3s;
                h3 {
                  font-weight: bold;
                  font-size: 1.6rem;
                  color: #424242;
                  text-transform: uppercase;
                }
                &:hover, &.activeTab {
                  background: #d9312b;
                  h3 {
                    color: #ffffff;
                  }
                }
              }
            }
            .tabContent {
              .tabText {
                border: 1px solid #d7d7d7;
                padding: 24px 5px 12px 20px;
                line-height: 1.2;
                font-size: 1.6rem;
                color: #404040;
                text-align: justify;

              }
            }
          }
        }
      }
    }
  }
}