@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    outline: none;
    border: none;
    background-origin: border-box;
}

select {
    outline: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

hr {
    border: none;
    height: 1px;
    background-color: #000;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-button_down {
    width: 11px;
    height: 15px;
    background-position: -5px -5px;
}

.sprite-buy {
    width: 48px;
    height: 45px;
    background-position: -26px -5px;
}

.sprite-buyWhite {
    width: 26px;
    height: 25px;
    background-position: -84px -5px;
}

.sprite-calendar {
    width: 37px;
    height: 39px;
    background-position: -120px -5px;
}

.sprite-callback {
    width: 26px;
    height: 25px;
    background-position: -167px -5px;
}

.sprite-callback_produck {
    width: 35px;
    height: 35px;
    background-position: -167px -40px;
}

.sprite-car_brand {
    width: 47px;
    height: 20px;
    background-position: -84px -54px;
}

.sprite-catolog {
    width: 26px;
    height: 20px;
    background-position: -5px -85px;
}

.sprite-checkRed {
    width: 13px;
    height: 10px;
    background-position: -41px -85px;
}

.sprite-down {
    width: 11px;
    height: 7px;
    background-position: -5px -40px;
}

.sprite-email {
    width: 43px;
    height: 33px;
    background-position: -64px -85px;
}

.sprite-events {
    width: 22px;
    height: 22px;
    background-position: -117px -85px;
}

.sprite-eye {
    width: 24px;
    height: 14px;
    background-position: -149px -85px;
}

.sprite-ks {
    width: 16px;
    height: 16px;
    background-position: -183px -85px;
}

.sprite-like {
    width: 25px;
    height: 23px;
    background-position: -149px -111px;
}

.sprite-login {
    width: 37px;
    height: 36px;
    background-position: -5px -144px;
}

.sprite-mts {
    width: 18px;
    height: 18px;
    background-position: -184px -111px;
}

.sprite-news {
    width: 23px;
    height: 23px;
    background-position: -52px -139px;
}

.sprite-novelty {
    width: 23px;
    height: 23px;
    background-position: -85px -139px;
}

.sprite-racing {
    width: 69px;
    height: 39px;
    background-position: -118px -144px;
}

.sprite-seal {
    width: 38px;
    height: 37px;
    background-position: -212px -5px;
}

.sprite-search {
    width: 20px;
    height: 21px;
    background-position: -212px -52px;
}

.sprite-shares {
    width: 24px;
    height: 25px;
    background-position: -212px -83px;
}

.sprite-slider_left {
    width: 13px;
    height: 25px;
    background-position: -246px -52px;
}

.sprite-slider_right {
    width: 13px;
    height: 24px;
    background-position: -246px -87px;
}

.sprite-social_all {
    width: 201px;
    height: 39px;
    background-position: -5px -193px;
}

.sprite-truck {
    width: 38px;
    height: 27px;
    background-position: -212px -121px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: color .25s;
    display: inline-block;
}

a:hover {
    color: #d6312b;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    min-width: 100%;
    width: 100%;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: ' ';
}

.clearfix:after {
    clear: both;
}

.clearBoth {
    clear: both;
}

.siteWidth {
    width: 1288px;
    margin: 0 auto;
}

.withLeftAndRightMenu .mainCD .mainWrapper {
    width: 742px;
}

.with .mainCD .mainWrapper {
    width: 100%;
}

.button {
    background: #cc2e29;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    transition: background .25s;
    width: 135px;
    height: 35px;
    line-height: 35px;
}

.button:hover {
    background: #d73c38;
    color: #fff;
}

.addToCart {
    position: relative;
    padding-left: 40px;
    padding-right: 0;
    font-size: 1.4rem;
}

.addToCart span {
    width: 34px;
    height: 35px;
    position: absolute;
    display: block;
    font-size: 0;
    text-align: center;
    top: 0;
    left: 0;
    background: #424242;
    transition: background .3s;
}

.addToCart span .sprite {
    transition: transform .3s;
    display: inline-block;
    vertical-align: middle;
    transform: scale(0.7);
}

.addToCart:hover span {
    background: rgba(66, 66, 66, 0);
}

.addToCart:hover span .sprite {
    transform: scale(1);
}

.buttonSubscription {
    width: 165px;
    text-align: center;
    display: block;
}

.buttonMini {
    text-align: center;
}

.callBackProduct {
    width: 166px;
    height: 46px;
    padding-left: 65px;
    position: relative;
    font-size: 14px;
    padding-top: 8px;
    display: block;
}

.callBackProduct .sprite {
    position: absolute;
    top: 5px;
    left: 19px;
}

.viewAllButtonEmpty {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #424242;
    display: block;
    text-align: center;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    position: relative;
}

.viewAllButtonEmpty:hover {
    color: #cb2e29;
    text-decoration: underline;
}

.viewAllButtonEmpty .sprite {
    position: absolute;
    top: 5px;
    right: 0;
}

.left {
    float: left;
    display: table;
}

.right {
    float: right;
    display: table;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    border: solid 1px #969696;
}

.inputSearch {
    width: 380px;
    height: 43px;
    line-height: 43px;
    border-right: none;
    color: #969696;
    font-size: 1.4rem;
    padding-left: 12px;
}

.inputSubscription {
    display: block;
    border: solid 1px #e0e0e0;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    color: #4f4f4f;
    width: 461px;
    font-family: 'Open Sans', sans-serif;
}

.inputCall {
    border-radius: 3px;
    border-color: #969696;
    margin-top: 10px;
    width: 145px;
    height: 35px;
    line-height: 35px;
    font-size: 1.3rem;
    color: #b0b0b0;
    padding-left: 6px;
}

.slider {
    position: relative;
}

.slider .navigation {
    position: absolute;
    width: 31px;
    height: 31px;
    line-height: 25px;
    top: 50%;
    margin-top: -15px;
    display: block;
    text-align: center;
    background: transparent;
    color: #d4d4d4;
    font-size: 20px;
    vertical-align: middle;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
}

.slider .previous {
    left: 0;
}

.slider .next {
    right: 0;
}

.slider .pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    text-align: center;
    font-size: 0;
}

.slider .pagination .item {
    display: inline-block;
    padding-right: 5px;
}

.slider .pagination .item:last-of-type {
    padding-right: 0;
}

.slider .pagination .item a {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    transition: background .25s;
    background-color: #ddd;
}

.slider .pagination .item a.active {
    background: #f11136;
    border: 1px solid #e0e0e0;
}

.verticalLine {
    width: 1px;
    background: #f2f2f2;
}

/**************/
/*HEADER*/
/**************/
header.headerCD {
    font-size: 1.4rem;
    color: #3d3d3d;
}

header.headerCD a {
    font-size: 1.4rem;
    color: #3d3d3d;
}

header.headerCD a:hover {
    color: #d6312b;
    text-decoration: underline;
}

header.headerCD .top {
    height: 50px;
    line-height: 50px;
}

header.headerCD .top .siteWidth nav {
    float: left;
}

header.headerCD .top .siteWidth nav ul {
    display: block;
}

header.headerCD .top .siteWidth nav ul li {
    float: left;
    margin: 0 10px;
    display: block;
}

header.headerCD .top .siteWidth .contacts {
    float: right;
}

header.headerCD .top .siteWidth .contacts a {
    position: relative;
    padding-left: 23px;
    margin-left: 12px;
}

header.headerCD .top .siteWidth .contacts .sprite {
    position: absolute;
    left: 0;
    bottom: 16px;
}

header.headerCD .top .siteWidth .contacts .right a.callBack {
    width: 190px;
    height: 40px;
    border-radius: 7px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    display: block;
    color: #FFFFFF;
    float: right;
    line-height: 41px;
    padding-left: 41px;
    text-decoration: none;
}

header.headerCD .top .siteWidth .contacts .right a.callBack .sprite {
    left: 9px;
    top: 8px;
}

header.headerCD .bottom {
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
}

header.headerCD .bottom .siteWidth > div {
    float: left;
    padding: 0 12px;
}

header.headerCD .bottom .siteWidth > div > .wrapper {
    height: 102px;
    display: table-cell;
    vertical-align: middle;
}

header.headerCD .bottom .siteWidth .logo {
    padding-left: 8px;
    width: 286px;
}

header.headerCD .bottom .siteWidth .searchBlock {
    font-size: 0;
}

header.headerCD .bottom .siteWidth .searchBlock form .inputSearch {
    display: block;
    float: left;
}

header.headerCD .bottom .siteWidth .searchBlock form .button {
    width: 120px;
    height: 43px;
    line-height: 43px;
    padding-left: 40px;
    position: relative;
    font-size: 1.8rem;
    display: block;
    float: left;
}

header.headerCD .bottom .siteWidth .searchBlock form .button .sprite {
    position: absolute;
    top: 11px;
    left: 13px;
}

header.headerCD .bottom .siteWidth .cartBlock {
    width: 159px;
}

header.headerCD .bottom .siteWidth .cartBlock .sprite {
    float: left;
    display: table;
}

header.headerCD .bottom .siteWidth .cartBlock .bold {
    font-weight: bold;
}

header.headerCD .bottom .siteWidth .cartBlock .val {
    color: #dc322c;
}

header.headerCD .bottom .siteWidth .cartBlock, header.headerCD .bottom .siteWidth .authorization {
    border-left: 1px solid #f2f2f2;
}

header.headerCD .bottom .siteWidth .cartBlock .title, header.headerCD .bottom .siteWidth .authorization .title {
    padding-top: 3px;
    padding-left: 11px;
    float: right;
    display: table;
}

header.headerCD .bottom .siteWidth .authorization {
    width: 311px;
}

header.headerCD .bottom .siteWidth .authorization .title a {
    border-bottom: 1px dotted #3d3d3d;
    font-weight: bold;
}

header.headerCD .bottom .siteWidth .authorization .title a:hover {
    border-bottom: 1px solid #3d3d3d;
}

/**************/
/*Навигационная строка*/
/**************/
.navigationLineCD {
    margin-top: 14px;
}

.navigationLineCD .breadcrumbs {
    color: #8c8c8c;
    font-size: 1.4rem;
}

.navigationLineCD .breadcrumbs li {
    margin-right: 4px;
    float: left;
    line-height: 28px;
}

.navigationLineCD .breadcrumbs li:last-of-type {
    margin-right: 0;
}

.navigationLineCD .breadcrumbs li a {
    color: #8c8c8c;
    font-size: 1.4rem;
    display: inline-block;
}

/*список товаров*/
/**************/
/*Левое меню*/
/**************/
aside.leftMenuCD {
    margin-top: 20px;
    width: 254px;
    padding-right: 10px;
    float: left;
}

aside.leftMenuCD > div {
    margin-top: 27px;
}

aside.leftMenuCD > div:first-of-type {
    margin-top: 0;
}

.catalogMenu h3 {
    height: 53px;
    line-height: 53px;
    display: block;
    background: #cc2e29;
    position: relative;
    padding-left: 44px;
    font-weight: bold;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.catalogMenu h3 .sprite {
    position: absolute;
    top: 16px;
    left: 10px;
}

.catalogMenu ul li {
    border: solid 1px #efefef;
    border-top: none;
}

.catalogMenu ul li a {
    height: 34px;
    line-height: 34px;
    position: relative;
    display: block;
    padding-left: 14px;
    padding-right: 25px;
    font-size: 16px;
    color: #434343;
}

.catalogMenu ul li a:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 7px;
    background-color: transparent;
    transition: background-color .3s;
}

.catalogMenu ul li a:hover {
    color: #d6312b;
}

.catalogMenu ul li a:hover:before {
    background-color: #c12b27;
}

.catalogMenu ul li a:after {
    content: '>';
    position: absolute;
    top: 0px;
    right: 12px;
}

.catalogMenu ul li.active a:before {
    background-color: #c12b27;
}

.options h3 {
    color: #cb2e29;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.options h4 {
    color: #4f4f4f;
    font-weight: 500;
    font-size: 19px;
}

.options > div {
    border-bottom: solid 1px #efefef;
    padding-bottom: 28px;
}

.options .price {
    margin-top: 29px;
}

.options .option {
    margin-top: 21px;
    border-bottom: solid 1px #efefef;
}

.options .option .filterValueList {
    margin-top: 15px;
}

.options .option .filterValueList li {
    height: 21px;
    padding-left: 10px;
    margin-top: 8px;
}

.options .option .filterValueList li:first-of-type {
    margin-top: 0;
}

.options .option .filterValueList li a {
    display: block;
    line-height: 21px;
    color: #4f4f4f;
    font-size: 1.6rem;
    position: relative;
    padding-left: 28px;
}

.options .option .filterValueList li a .square {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    font-size: 0;
    line-height: 21px;
    height: 21px;
    width: 21px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #c5c5c5;
}

.options .option .filterValueList li a .square .sprite {
    display: inline-block;
    vertical-align: middle;
}

.options .option .showAndHideParameter {
    margin-top: 15px;
}

.options .option .showAndHideParameter a {
    display: block;
    color: #424242;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.options .option .showAndHideParameter .sprite {
    display: inline-block;
    margin-left: 5px;
}

.social {
    margin-top: 30px;
}

.social .item {
    margin-top: 20px;
}

.social .item:first-of-type {
    margin-top: 0;
}

/**************/
/*Основной контент*/
/**************/
.mainWrapper {
    float: left;
    padding-top: 15px;
}

.mainWrapper .contentCD .offerListBlock {
    border-top: solid 1px #dfdfdf;
    border-bottom: solid 1px #dfdfdf;
    width: 100%;
}

.mainWrapper .contentCD .offerListBlock > div {
    float: left;
}

.mainWrapper .contentCD .offerListBlock .offerView1 {
    display: block;
}

.mainWrapper .contentCD .offerListBlock .od {
    background: #dfdfdf;
    width: 1px;
    height: 383px;
    margin-top: 8px;
}

.mainWrapper .contentCD .offerListBlock .od:nth-of-type(3n) {
    height: 1px;
    width: 100%;
}

.pageTitle h1 {
    font-size: 4rem;
    color: #434343;
}

.offerView1 {
    width: 245px;
    height: 400px;
    padding: 10px;
}

.offerView1 .content {
    text-align: center;
}

.offerView1 .content .img p {
    height: 217px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 213px;
}

.offerView1 .content .img p img {
    max-width: 234px;
    max-height: 203px;
    display: inline-block;
}

.offerView1 .content .code {
    color: #7c7c7c;
    font-size: 1.2rem;
    margin-top: 6px;
}

.offerView1 .content .title {
    margin-top: 9px;
    display: block;
    max-height: 40px;
    overflow: hidden;
}

.offerView1 .content .title a {
    color: #4f4f4f;
    font-size: 1.6rem;
    line-height: 1.3;
}

.offerView1 .content .title a:hover {
    color: #d6312b;
}

.offerView1 .content .priceList .price {
    margin-top: 9px;
}

.offerView1 .content .priceList .price .priceValue {
    font-size: 2.4rem;
    color: #d9312b;
    font-weight: bold;
}

.offerView1 .content .priceList .price .priceValue span {
    font-size: 1.6rem;
    font-weight: 400;
}

.offerView1 .content .priceList .button {
    margin-top: 10px;
}

.offerView1Mini {
    width: 250px;
    height: 450px;
    padding: 27px;
}

.offerView1Mini .content .img p {
    height: 225px;
    width: 243px;
}

.offerView1Mini .content .img p img {
    max-width: 197px;
    max-height: 179px;
}

.offerView1Mini .content .code {
    margin-top: 25px;
}

.offerView1Mini .content .title {
    margin-top: 10px;
}

.offerView1Mini .content .priceList {
    margin-top: 13px;
}

.offerView1Mini .content .priceList .price .priceValue {
    color: #4f4f4f;
}

.filter {
    margin-top: 10px;
}

.filter .left {
    line-height: 56px;
}

.filter .left p {
    display: inline-block;
    font-weight: bold;
    font-size: 1.3rem;
    color: #434343;
    text-transform: uppercase;
}

.filter .left select {
    margin-left: 27px;
    border: solid 1px #ececec;
    font-size: 1.2rem;
    color: #989898;
    width: 173px;
    height: 21px;
    padding-left: 6px;
}

.filter .right {
    line-height: 56px;
    font-size: 1.3rem;
    color: #8c8c8c;
}

/*Список страниц*/
.ajaxPaginationList {
    margin-top: 35px;
    font-size: 2.4rem;
}

.ajaxPaginationList .gridPagination .listPagination ul {
    display: table;
    margin: 0 auto;
}

.ajaxPaginationList .gridPagination .listPagination ul li {
    display: table-cell;
    color: #cb2e29;
    position: relative;
}

.ajaxPaginationList .gridPagination .listPagination ul li .current, .ajaxPaginationList .gridPagination .listPagination ul li .page-link {
    height: 37px;
    width: 37px;
    line-height: 37px;
    display: block;
    background: rgba(204, 46, 41, 0);
    text-align: center;
}

.ajaxPaginationList .gridPagination .listPagination ul li .active {
    color: #cb2e29;
}

.ajaxPaginationList .gridPagination .listPagination ul li .page-link {
    color: #575757;
    cursor: pointer;
}

.ajaxPaginationList .gridPagination .listPagination ul li .page-link:hover {
    background: #cc2e29;
    color: #ffffff;
}

.ajaxPaginationList .gridPagination .listPagination ul li:after {
    content: '';
    display: block;
    width: 1px;
    height: 33px;
    top: 4px;
    right: 0px;
    position: absolute;
    background: #e4e4e4;
}

.ajaxPaginationList .gridPagination .listPagination ul li .page-link {
    color: #575757;
}

/**************/
/*Правое меню*/
/**************/
aside.rightMenuCD {
    float: right;
    width: 292px;
    padding-top: 107px;
    padding-left: 9px;
}

aside.rightMenuCD .hotGoodsBottom {
    margin-top: 10px;
}

aside.rightMenuCD .news {
    margin-top: 23px;
}

.news .title h3 {
    display: table;
    float: left;
    padding-left: 30px;
    position: relative;
    font-size: 2.4rem;
    color: #434343;
}

.news .title h3 .sprite {
    position: absolute;
    top: 0;
    left: 0;
}

.news .viewAll {
    float: right;
    display: table;
    line-height: 2.4rem;
}

.news .lineGray {
    background-color: #e0e0e0;
    margin-top: 15px;
    margin-bottom: 30px;
}

.newsItem .content .img p {
    display: table-cell;
    width: 100%;
    height: 200px;
}

.newsItem .content .img p img {
    display: inline-block;
    vertical-align: middle;
}

.newsItem .content .titleItem {
    padding-left: 6px;
    margin-top: 11px;
}

.newsItem .content .titleItem a {
    color: #d6312b;
    text-decoration: underline;
    font-size: 1.8rem;
    line-height: 1.2;
    margin-top: 10px;
}

.newsItem .content .titleItem a:hover {
    text-decoration: none;
}

.newsItem .content .time {
    display: block;
    position: relative;
    line-height: 23px;
    padding-left: 36px;
    font-size: 1.4rem;
    margin-top: 12px;
    color: #4f4f4f;
}

.newsItem .content .time .sprite {
    position: absolute;
    top: 0;
    left: 6px;
}

/**************/
/*FOOTER*/
/**************/
footer.footerCD {
    color: #FFFFFF;
    font-size: 1.2rem;
    margin-top: 43px;
    border-top: solid 1px #818181;
}

footer.footerCD a {
    color: #FFFFFF;
    font-size: 1.2rem;
}

footer.footerCD a:hover {
    color: #d6312b;
    text-decoration: underline;
}

footer.footerCD .top {
    background: #424242;
    border-top: 1px solid #818181;
    height: 280px;
}

footer.footerCD .top .siteWidth > div {
    float: left;
}

footer.footerCD .top .siteWidth h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

footer.footerCD .top .siteWidth .logoBlock .logo {
    height: 280px;
    display: table-cell;
    padding-left: 8px;
    vertical-align: middle;
    width: 448px;
}

footer.footerCD .top .siteWidth .logoBlock .logo a {
    display: inline-block;
}

footer.footerCD .top .siteWidth .info, footer.footerCD .top .siteWidth .prof, footer.footerCD .top .siteWidth .contacts {
    margin-top: 42px;
}

footer.footerCD .top .siteWidth .info > ul, footer.footerCD .top .siteWidth .info .address, footer.footerCD .top .siteWidth .prof > ul, footer.footerCD .top .siteWidth .prof .address, footer.footerCD .top .siteWidth .contacts > ul, footer.footerCD .top .siteWidth .contacts .address {
    margin-top: 14px;
}

footer.footerCD .top .siteWidth .info > ul li, footer.footerCD .top .siteWidth .info .address li, footer.footerCD .top .siteWidth .prof > ul li, footer.footerCD .top .siteWidth .prof .address li, footer.footerCD .top .siteWidth .contacts > ul li, footer.footerCD .top .siteWidth .contacts .address li {
    margin-top: 9px;
}

footer.footerCD .top .siteWidth .info > ul li:first-of-type, footer.footerCD .top .siteWidth .info .address li:first-of-type, footer.footerCD .top .siteWidth .prof > ul li:first-of-type, footer.footerCD .top .siteWidth .prof .address li:first-of-type, footer.footerCD .top .siteWidth .contacts > ul li:first-of-type, footer.footerCD .top .siteWidth .contacts .address li:first-of-type {
    margin-top: 0;
}

footer.footerCD .top .siteWidth .info {
    width: 264px;
}

footer.footerCD .top .siteWidth .prof {
    width: 341px;
}

footer.footerCD .top .siteWidth .contacts {
    width: 234px;
}

footer.footerCD .top .siteWidth .contacts .address {
    line-height: 1.2;
}

footer.footerCD .top .siteWidth .contacts .tel {
    margin-top: 13px;
    font-size: 2.2rem;
}

footer.footerCD .top .siteWidth .contacts .tel a {
    font-size: 2.2rem;
    margin-top: 4px;
    display: inline-block;
}

footer.footerCD .bottom {
    height: 39px;
    line-height: 39px;
    background: #d83830;
}

footer.footerCD .bottom .siteWidth {
    position: relative;
}

footer.footerCD .bottom .siteWidth .copyright {
    text-align: left;
}

footer.footerCD .bottom .siteWidth .copyright .astridShop {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 348px;
    line-height: 1.3;
    margin-top: 4px;
}

footer.footerCD .bottom .siteWidth .copyright .astridShop .wrapper p {
    float: left;
    display: table;
    width: 167px;
}

footer.footerCD .bottom .siteWidth .copyright .astridShop .wrapper p a {
    border-bottom: solid 1px #FFFFFF;
}

footer.footerCD .bottom .siteWidth .copyright .astridShop .wrapper p a:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom: none;
}

footer.footerCD .bottom .siteWidth .copyright .astridShop .wrapper .logoAstridShop {
    float: right;
    line-height: 39px;
}

footer.footerCD .bottom .siteWidth .copyright .astridShop .wrapper .logoAstridShop a {
    font-size: 0;
    display: inline-block;
}

/*Главня страница*/
.listProducts {
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
    margin-top: 11px;
    padding-left: 4px;
}

.listProducts > div {
    float: left;
}

.listProducts .od {
    background: #e0e0e0;
    width: 1px;
    height: 424px;
    margin-top: 13px;
}

.mainWrapper .contentCD > div {
    margin-top: 30px;
}

.mainWrapper .contentCD > div:first-of-type {
    margin-top: 0;
}

.mainWrapper .contentCD .menuSlider .left {
    width: 301px;
    padding-right: 20px;
}

.mainWrapper .contentCD .menuSlider .left > div {
    margin-top: 10px;
}

.mainWrapper .contentCD .menuSlider .left > div:first-child {
    margin-top: 0;
}

.mainWrapper .contentCD .viewedProductsBlock .left {
    padding-right: 18px;
}

.mainWrapper .contentCD .viewedProductsBlock .nameBlock .sprite {
    position: absolute;
    top: 6px;
    left: 0;
}

.mainWrapper .contentCD .viewedProductsBlock .wrapper .subscription {
    float: right;
    width: 513px;
    height: 450px;
}

.mainWrapper .contentCD .viewedProductsBlock .wrapper .subscription .form {
    border-radius: 15px / 3px;
    border: 1px solid #e2e2e2;
    margin-top: 67px;
    width: 508px;
    height: 319px;
    display: block;
}

.mainWrapper .contentCD .viewedProductsBlock .wrapper .subscription .form .title {
    border-radius: 15px / 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #434343;
    height: 63px;
    padding-top: 15px;
    padding-left: 70px;
    position: relative;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.mainWrapper .contentCD .viewedProductsBlock .wrapper .subscription .form .title .sprite {
    position: absolute;
    top: 18px;
    left: 18px;
}

.mainWrapper .contentCD .viewedProductsBlock .wrapper .subscription .form .input {
    padding-left: 23px;
    font-weight: bold;
    font-size: 1.8rem;
    color: #424242;
    margin-top: 17px;
}

.mainWrapper .contentCD .viewedProductsBlock .wrapper .subscription .form .input:first-of-type {
    margin-top: 22px;
}

.mainWrapper .contentCD .viewedProductsBlock .wrapper .subscription .form .input .inputSubscription {
    margin-top: 9px;
}

.mainWrapper .contentCD .viewedProductsBlock .wrapper .subscription .form .button {
    margin-top: 23px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainWrapper .contentCD .newsBlock .wrapper {
    padding-top: 27px;
    margin-top: 11px;
    border-top: 1px solid #e0e0e0;
}

.mainWrapper .contentCD .newsBlock .wrapper > div {
    float: left;
}

.newsItemMain {
    width: 644px;
}

.newsItemMain .content .left .img {
    display: table;
    width: 332px;
}

.newsItemMain .content .left .img p {
    width: 315px;
    height: 223px;
    display: table-cell;
}

.newsItemMain .content .left .img p img {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e0e0e0;
}

.newsItemMain .content .right {
    width: 312px;
    padding-right: 5px;
    font-size: 1.4rem;
}

.newsItemMain .content .right .title {
    margin-top: 20px;
}

.newsItemMain .content .right .title a {
    color: #bf2b27;
    font-size: 1.8rem;
    line-height: 1.2;
}

.newsItemMain .content .right .title a:hover {
    text-decoration: underline;
}

.newsItemMain .content .right .description {
    margin-top: 15px;
    line-height: 1;
    color: #4f4f4f;
}

.newsItemMain .content .right .description .details {
    color: #cf2f2a;
    font-size: 1.4rem;
    font-style: italic;
}

.newsItemMain .content .right .description .details:hover {
    text-decoration: underline;
}

.newsItemMain .content .right .date {
    display: block;
    height: 22px;
    line-height: 22px;
    padding-left: 30px;
    position: relative;
    margin-top: 20px;
}

.newsItemMain .content .right .date .sprite {
    position: absolute;
    top: 0;
    left: 0;
}

.carBrand h3 {
    height: 57px;
    line-height: 57px;
    display: block;
    background: #424242;
    position: relative;
    padding-left: 68px;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 9px / 2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.carBrand h3 .sprite {
    position: absolute;
    top: 16px;
    left: 10px;
}

.carBrand .wrapper {
    padding-top: 25px;
}

.carBrand .wrapper > div {
    float: left;
}

.carBrand .wrapper .item p a {
    width: 65px;
    height: 65px;
    display: table-cell;
    color: #424242;
    font-size: 1.4rem;
    text-align: center;
}

.carBrand .wrapper .item p a img {
    display: inline-block;
    vertical-align: middle;
}

.carBrand .wrapper .item p a i {
    display: inline-block;
}

.carBrand .wrapper .od {
    height: 1px;
    width: 43px;
}

.carBrand .wrapper .od:nth-child(6n) {
    height: 44px;
    width: 100%;
}

.carBrand .viewAllButton {
    margin-top: 27px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.viewAllButton {
    position: relative;
    padding-left: 25px;
    width: 129px;
    height: 27px;
    font-size: 1.2rem;
}

.viewAllButton .sprite {
    position: absolute;
    top: 6px;
    left: 8px;
}

.nameBlock {
    line-height: 25px;
    font-size: 2.4rem;
    color: #434343;
}

.nameBlockIcon {
    padding-left: 29px;
    position: relative;
}

.nameBlockIcon .sprite {
    position: absolute;
    top: 0;
    left: 0;
}

/*страница категории*/
aside.leftMenuCD .carBrand h3 {
    font-size: 1.5rem;
}

aside.leftMenuCD .carBrand .wrapper .od {
    height: 1px;
    width: 24px;
}

aside.leftMenuCD .carBrand .wrapper .od:nth-child(6n) {
    height: 24px;
    width: 100%;
}

.mainWrapper .contentCD .brandDirectory > div {
    float: left;
}

.mainWrapper .contentCD .brandDirectory .od {
    height: 1px;
    width: 16px;
}

.mainWrapper .contentCD .brandDirectory .od:nth-of-type(8n) {
    height: 16px;
    width: 100%;
}

.brandDirectoryItem {
    max-height: 173px;
    width: 173px;
    overflow: hidden;
    transition: border .3s;
}

.brandDirectoryItem .content {
    border: solid 1px #efefef;
    padding: 6px;
    min-height: 173px;
    position: relative;
    z-index: 1;
    background: #ffffff;
}

.brandDirectoryItem .content a {
    color: #424242;
    display: block;
}

.brandDirectoryItem .content a:hover {
    color: #d6312b;
}

.brandDirectoryItem .content .img p {
    display: table-cell;
    width: 160px;
    height: 125px;
    vertical-align: middle;
    text-align: center;
}

.brandDirectoryItem .content .img p img {
    display: inline-block;
}

.brandDirectoryItem .content .title {
    margin-top: 5px;
}

.brandDirectoryItem .content .title a {
    font-size: 2.1rem;
    text-align: center;
}

.brandDirectoryItem .content .seriesList ul li a {
    display: block;
    line-height: 0px;
    font-size: 0rem;
    text-transform: uppercase;
    transition: line-height .3s .3s, font-size .3s .3s;
    position: relative;
    padding-right: 18px;
}

.brandDirectoryItem:hover {
    overflow: visible;
}

.brandDirectoryItem:hover .content {
    border: solid 1px #c42d27;
    position: relative;
    z-index: 5;
}

.brandDirectoryItem:hover .content .seriesList ul li {
    border-bottom: solid 1px #efefef;
}

.brandDirectoryItem:hover .content .seriesList ul li a {
    line-height: 35px;
    font-size: 1.3rem;
}

.brandDirectoryItem:hover .content .seriesList ul li a:after {
    content: '>';
    position: absolute;
    top: 0px;
    right: 7px;
}

.brandDirectoryItem:hover .content .seriesList ul li:last-of-type {
    border-bottom: none;
}

.brandDirectoryItem:hover .content .seriesList ul li:last-of-type a {
    text-transform: capitalize;
}

/*страница продукта*/
.mainWrapper .contentCD .product > .left {
    width: 357px;
    padding-right: 17px;
}

.mainWrapper .contentCD .product > .left .sliderProduct a {
    display: inline-block;
    border: solid 1px #ececec;
    transition: border-color .3s;
}

.mainWrapper .contentCD .product > .left .sliderProduct a:hover {
    border-color: #d9312b;
}

.mainWrapper .contentCD .product > .left .sliderProduct .productImage p {
    display: table-cell;
    text-align: center;
    width: 340px;
    height: 340px;
}

.mainWrapper .contentCD .product > .left .sliderProduct .productImage p .dataImg {
    display: inline-block;
    vertical-align: middle;
}

.mainWrapper .contentCD .product > .left .sliderProduct .wrapperSmall {
    margin-top: 5px;
}

.mainWrapper .contentCD .product > .left .sliderProduct .wrapperSmall .item {
    float: left;
    width: 167px;
    height: 167px;
    margin-left: 5px;
}

.mainWrapper .contentCD .product > .left .sliderProduct .wrapperSmall .item:first-of-type {
    margin-left: 0;
}

.mainWrapper .contentCD .product > .left .callBackProduct {
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
}

.mainWrapper .contentCD .product > .right {
    width: 931px;
}

.mainWrapper .contentCD .product > .right .top > div {
    float: left;
}

.mainWrapper .contentCD .product > .right .top .purchase {
    width: 660px;
}

.mainWrapper .contentCD .product > .right .top .purchase > div {
    float: left;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left {
    width: 434px;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .status {
    background: #eaeaea;
    display: table;
    font-size: 1.2rem;
    color: #7c7c7c;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .buy {
    margin-top: 75px;
    width: 433px;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .buy .item {
    text-align: left;
    font-size: 0;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .buy .item .button {
    display: inline-block;
    vertical-align: top;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .buy .item .itemLeft {
    width: 163px;
    padding-right: 15px;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .buy .addToCartBlock {
    line-height: 35px;
    height: 35px;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .buy .addToCartBlock .price {
    font-size: 4.8rem;
    font-weight: bold;
    padding-right: 15px;
    color: #424242;
    display: inline-block;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .buy .addToCartBlock .price i {
    font-size: 1.7rem;
    font-weight: normal;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .buy .addToCartBlock .button {
    width: 130px;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .buy .callBlock {
    height: 57px;
    margin-top: 35px;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .buy .callBlock .itemTel {
    font-size: 1.4rem;
    color: #7c7c7c;
    display: inline-block;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .buy .callBlock .button {
    vertical-align: bottom;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .share {
    margin-top: 43px;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .share h3 {
    font-size: 1.2rem;
    color: #7c7c7c;
    display: block;
    width: 100%;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .share .right {
    width: 153px;
    padding-left: 30px;
    position: relative;
    font-size: 1.2rem;
    color: #d9312b;
}

.mainWrapper .contentCD .product > .right .top .purchase > .left .share .right .sprite {
    position: absolute;
    top: 3px;
    left: 0;
}

.mainWrapper .contentCD .product > .right .top .purchase > .verticalLine {
    height: 337px;
    margin-top: 0px;
}

.mainWrapper .contentCD .product > .right .top .purchase .advantage {
    width: 225px;
    padding: 24px 17px;
    padding-bottom: 0;
}

.mainWrapper .contentCD .product > .right .top .purchase .advantage .item {
    height: 75px;
    margin-top: 7px;
    position: relative;
    padding-left: 47px;
    font-size: 1.2rem;
}

.mainWrapper .contentCD .product > .right .top .purchase .advantage .item:first-of-type {
    margin-top: 0;
}

.mainWrapper .contentCD .product > .right .top .purchase .advantage .item h4 {
    font-weight: bold;
}

.mainWrapper .contentCD .product > .right .top .purchase .advantage .item .sprite, .mainWrapper .contentCD .product > .right .top .purchase .advantage .item .sprite-text {
    position: absolute;
    left: 0px;
    top: 5px;
}

.mainWrapper .contentCD .product > .right .top .purchase .advantage .item .sprite-text {
    font-size: 2.5rem;
    color: #d7312b;
    display: block;
    font-weight: 700;
    margin-left: -5px;
    vertical-align: bottom;
}

.mainWrapper .contentCD .product > .right .top .purchase .advantage .item .sprite-text span {
    font-size: 1.5rem;
    font-weight: normal;
    vertical-align: middle;
}

.mainWrapper .contentCD .product > .right .top > .verticalLine {
    height: 380px;
    margin-top: 18px;
}

.mainWrapper .contentCD .product > .right .top .prompt {
    width: 250px;
}

.mainWrapper .contentCD .product > .right .top .prompt .delivery {
    padding: 3px 15px;
    padding-bottom: 0;
}

.mainWrapper .contentCD .product > .right .top .prompt .delivery h3 {
    font-size: 1.4rem;
    color: #3d3d3d;
    display: block;
    margin-bottom: 6px;
}

.mainWrapper .contentCD .product > .right .top .prompt .delivery .banerDelivery {
    height: 80px;
    width: 250px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding-left: 84px;
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.4rem;
    color: #4f4f4f;
}

.mainWrapper .contentCD .product > .right .top .prompt .delivery .banerDelivery .red {
    font-size: 1.8rem;
    color: #cf2f2a;
    font-weight: bold;
}

.mainWrapper .contentCD .product > .right .top .prompt .delivery .banerDelivery .sprite {
    position: absolute;
    top: 18px;
    left: 10px;
}

.mainWrapper .contentCD .product > .right .top .prompt .delivery .item {
    margin-top: 18px;
    height: 72px;
    font-size: 1.4rem;
    color: #4f4f4f;
}

.mainWrapper .contentCD .product > .right .top .prompt .delivery .item h4 {
    display: inline-block;
    border-bottom: dotted 1px #4f4f4f;
}

.mainWrapper .contentCD .product > .right .top .prompt .delivery .item ul {
    margin-top: 9px;
}

.mainWrapper .contentCD .product > .right .bottom .tabBlock .tabHeader .tab {
    height: 36px;
    line-height: 36px;
    border: 1px solid #d7d7d7;
    border-bottom: none;
    display: table;
    padding: 0 15px;
    margin-right: 10px;
    float: left;
    cursor: pointer;
    transition: background .3s;
}

.mainWrapper .contentCD .product > .right .bottom .tabBlock .tabHeader .tab h3 {
    font-weight: bold;
    font-size: 1.6rem;
    color: #424242;
    text-transform: uppercase;
}

.mainWrapper .contentCD .product > .right .bottom .tabBlock .tabHeader .tab:hover, .mainWrapper .contentCD .product > .right .bottom .tabBlock .tabHeader .tab.activeTab {
    background: #d9312b;
}

.mainWrapper .contentCD .product > .right .bottom .tabBlock .tabHeader .tab:hover h3, .mainWrapper .contentCD .product > .right .bottom .tabBlock .tabHeader .tab.activeTab h3 {
    color: #ffffff;
}

.mainWrapper .contentCD .product > .right .bottom .tabBlock .tabContent .tabText {
    border: 1px solid #d7d7d7;
    padding: 24px 5px 12px 20px;
    line-height: 1.2;
    font-size: 1.6rem;
    color: #404040;
    text-align: justify;
}
